@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto Flex";
    src: url("../public/fonts/RobotoFlex.ttf") format("truetype");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }

  html {
    @apply scroll-smooth font-roboto font-light text-base;
  }

  body {
    @apply tracking-wide bg-primary bg-opacity-10 text-gray-900 dark:text-primary-100 dark:bg-black dark:marker:text-secondary-200 marker:text-secondary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply rounded uppercase;
  }
}
