@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto Flex";
    src: url("../public/fonts/RobotoFlex.ttf") format("truetype");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }

  html {
    @apply scroll-smooth font-roboto text-base font-light;
  }

  body {
    @apply bg-primary-100 tracking-wide text-gray-900 marker:text-secondary dark:bg-zinc-900 dark:text-primary-100 dark:marker:text-secondary-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply rounded uppercase;
  }

  .hover-underline {
    @apply relative inline-block;
    @apply after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:origin-bottom-left after:scale-x-0 after:bg-secondary-400 after:transition-transform after:ease-out after:content-[""];
    @apply hover:after:origin-bottom-left hover:after:scale-x-[1];
  }

  .btn-primary {
    @apply underline;
  }
}
